#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



  
#map, #inventory {
    width: 7vw; 
    height: 13vh;
    border-radius: 50%; 
    overflow: hidden;
    border : 1px solid #000;
    cursor: pointer;
}
    
.backpack ,.map-img {
    width: 5vw; 
    height: auto; 
    display: block; 
    margin-top: 1vw;
    margin-left: 2vh;
}


#openInv {
    display: none;
    right: 7vw;
    width: 85vw;
    height: 45vw;
    border-radius:7vw;
    overflow: hidden;
    border : 3px solid #000;
    z-index: 1;
   flex-direction: column;
   align-items: center;
}


#allCase{
    margin-top: 5vh;
    width: 70vw;
    height: 60vh;
    gap: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case{
    width: 11vw;
    height: 15vh;
    border-radius:1vw;
    overflow: hidden;
    border : 0.2vw solid #000;
}

.use{
    border : 0.2vw solid green;
}


#action{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.action{
    width: 7vw; 
    height: 13vh; 
    overflow: hidden;
    border : 1px solid #000;
border-radius: 100px;
}

.police{
    font-family: 'Segoe Script', cursive;
font-weight: bold;
}

.t{
    font-size: 1vw;
    margin-left: 34%;
    margin-top: 40%;
}

.e{
    font-size: 1vw;
    margin-left: 14%;
    margin-top: 40%;
}

.g{
    font-size: 1vw;
    margin-left: 3%;
    margin-top: 40%;
}


.open{
    position: absolute;
    display: flex;
    display: block;
}